<!DOCTYPE html>
<html>
    <head>
        <title>Blog Application</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheets/app.css">
    </head>

<body>
    <header>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <a href="/" class="header item"><i class="pencil alternate icon"></i> Blogger</a>
            </div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>

        </div>
    </header>
